<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Instagram for poor</title>
    <link rel="shortcut icon" href="uploads/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <h1>Instagram<br>for<br>poor </h1>

    <a href="/new_post" class="button">Добавить пост</a>
    <hr>
    <form action="/tag" method="get">
            <input type="text" name="search_by_tag" placeholder="Поиск по тегу...">
    </form>
    <hr>
    <a href="/search">Страница с выпадающим <br> списком тегов (г_г)</a>
    <hr>

    {% for post in posts %}
    <div class="post">
        <a href="./post/{{post.post_id}}">
            <img src={{post.pic}} width="100%" alt="">
        </a>
            {% for tag in post.tags %}
                <a href="/tag?search_by_tag={{tag}}">#{{tag}}</a>
            {% endfor %}
        <form action="">
            <h4>Оставить комментарий:</h4>
            <p><textarea rows="5"  name="comment_text"></textarea></p>
        </form>
        <h3>Комментарии:</h3>
        {% for comment in comments %}
                {% if comment.post_id == post.post_id %}
                    <p>{{comment_counter}}</p>
                    <p><b>Автор: {{comment.autor_id}}</b></p>
                    <p>{{comment.text}}</p>
                {% endif %}
        {% endfor %}
        <hr>
    </div>
    {% endfor %}

</main>
</body>
</html>