<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты по тегу</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Посты по тегу “{{search_tag}}”</h1>

    {% for post in posts_match %}
    <div class="post">
        <img src={{post.pic}} width="100%" alt="">
        {{post.content}}
        <form action="/save_comment" method="post">
            <h4>Оставить комментарий:</h4>
            <input type="text" style="display: none;" name="post_id" value={{post.post_id}}>
            <input type="text" name="user_name" placeholder="Введите имя...">
            <p><textarea rows="5" name="comment_text"></textarea>
            <input type="submit" name="post_id" value="Отправить" placeholder="123"></p>
        </form>
        <h3>Комментарии:</h3>
        {% for comment in comments %}
                {% if comment.post_id == post.post_id %}
                    <p>{{comment_counter}}</p>
                    <p><b>Автор: {{comment.user_name}}</b></p>
                    <p>{{comment.text}}</p>
                {% endif %}
        {% endfor %}
        <hr>
    </div>
    {% endfor %}

</main>
</body>
</html>

