<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Instagram for poor</title>
    <link rel="shortcut icon" href="uploads/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Instagram<br>for<br>poor </h1>

    <div class="post">
        <img src={{post_match.pic}} width="100%" alt="">
        <p>{{ post_match.content }}</p>
        <form action="">
            <h4>Оставить комментарий:</h4>
            <p><textarea rows="5"  name="comment_text"></textarea></p>
        </form>
        <h3>Комментарии:</h3>
        {% for comment in comments %}
                {% if comment.post_id == post_match.post_id %}
                    <p>{{comment_counter}}</p>
                    <p><b>Автор: {{comment.autor_id}}</b></p>
                    <p>{{comment.text}}</p>
                {% endif %}
        {% endfor %}
        <hr>
    </div>


</main>
</body>
</html>